{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "arrowParens": "always",
  "bracketSameLine": true,
  "plugins": [
    "prettier-plugin-pkg",
    "prettier-plugin-jsdoc"
  ],
  "printWidth": 120,
  "quoteProps": "consistent",
  "trailingComma": "all"
}
