@utility drag-none {
  user-drag: none;
  -webkit-user-drag: none;
}

@utility drag-element {
  user-drag: element;
  -webkit-user-drag: element;
}

@utility drag-auto {
  user-drag: auto;
  -webkit-user-drag: auto;
}
